<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=Reposteria;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    <!--<add name="ApplicationServices" connectionString="Data Source=BETTY-PC\SQLEXPRESS;Initial Catalog=Reposteria;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Reposteria.Properties.Settings.ReposteriaConnectionString"
      connectionString="Data Source=BETTY-PC\SQLEXPRESS;Initial Catalog=Reposteria;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Pasteleria.Properties.Settings.ReposteriaConnectionString"
      connectionString="Data Source=BETTY-PC\SQLEXPRESS;Initial Catalog=Reposteria;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>